<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>RequirementArchitect</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
              <!--Import materialize.css-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <style>
            body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
            body, html {
                height: 100%;
                line-height: 1.8;
            }
            /* Full height image header */
            .bgimg-1 {
                background-position: center;
                background-size: cover;
                background-image: url("background.jpg");
                min-height: 100%;
            }
            .w3-bar .w3-button {
                padding: 16px;
            }
            .sidebar-font{
                color:white;
                font-size:18px;
            }
        </style>
    </head>

    <body>

        <!-- Navbar (sit on top) -->
        <div class="w3-top">
          <div class="w3-bar w3-white w3-card-2" id="myNavbar" >
            <a href="#home" class="w3-bar-item w3-button w3-wide" style="padding: 3px 7px 11px 7px;">
                <img src="/img/logo2.2.png"/>
            </a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small" >
              
              <div class="row" style="margin-top:13px;margin-left:-40px;">
                  <a class="nav-link dropdown-toggle mr-lg-2" href="#" id="alertsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:20px;color:rgb(164,0,102);margin-right:10px;text-decoration: none;">
                        <i class="fa fa-fw fa-bell"></i> <span class="hidden-lg-up"> </span>
                    </a>
                  
                  
                  <a onclick='myFunction("Demo1")' href="#" style="margin-right:30px;text-decoration: none;">
                    <img src="/img/user.png" class="img-circle" style="margin-top:-10px;" alt="User" width="35" height="35"/>
                    <span style="font-size:18px;color:rgb(164,0,102);margin-top:15px;">Hicham Benmehdi</span>
                  </a>
                  <div id="Demo1" class="w3-dropdown-content w3-bar-block w3-animate-zoom" style="height:120px;margin-left:-40px;">
                         <div class="w3-container " style="border:1px solid rgb(194,194,194);height:120px;padding-left:0px;">
                                
                                <img src="/img/user.png" class="img-rounded" style="margin-top:7px;margin-left:10px;" alt="User" width="60" height="60"/>
                                <span style="font-size:17px;color:rgb(164,0,102);margin-top:5px;margin-left:0px">Hicham Benmehdi</span>
                                <br/>
                                <h5 style="font-size:14px;margin-top:-22px;margin-left:75px">hicham.benmehdi@gmail.com</h5>
                                <hr style="margin-bottom:0px;"/>
                                <div class="row" style="margin:3px 0px 0px 0px;padding-left:75px;">
                                    <button class="w3-button w3-black " style="padding:4px 11px 4px 11px;">Logout</button>
                                    <button class="w3-button  w3-teal " style="padding:4px 7px 4px 7px;">My Profil</button>
                                </div>
                            
                         </div> 
                  </div>
              </div>
              
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->

            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
        </div>

        <!-- Sidebar on small screens when clicking the menu icon -->
        <nav class="w3-sidebar w3-bar-block w3-black w3-card-2 w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
          <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close —</a>
          <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
          <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
          <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
          <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
          <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
        </nav>

        <!-- Header with full-height image -->
        <div clas="container" style="height:100%">
            <div class="row" style="height:100%">
                <div class="col-sm-2" style="background-color:rgb(54,54,54);height:100%;margin-top:58px;padding-right:0px;">
                    
                    <h3 class="text-center" style="color:white;">Dashboard</h3>
                    
                    <button class="w3-button w3-block sidebar-font" ><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Projects</button>
                    
                    <div class="w3-dropdown-click w3-block">
                      <button onclick='myFunction("Demo2")' class="w3-button w3-block sidebar-font"><span class="glyphicon glyphicon-inbox" aria-hidden="true" style="margin-left:-20px;"></span> Inbox</button>
                      <div id="Demo2" class="w3-dropdown-content w3-bar-block w3-animate-zoom">
                         <div class="w3-container" style="padding-left:7px;">
                            <a href="#" style="text-decoration: none;">
                                <img src="img/user.png" class="img-rounded" style="margin-top:5px;" alt="User" width="35" height="35"/>
                                <h3 style="font-size:14px;margin-top:-23px;margin-left:40px;"><b>Hicham Benmehdi</b></h3>
                                <h3 style="font-size:12px;margin-top:-8px;margin-left:40px;color:rgb(54,54,54);">Projet: Library Blog</h3>
                                <h3 style="font-size:12px;margin-top:-8px;margin-left:40px;color:rgb(54,54,54);">Sujet: MAJ</h3>
                                <p>Bla bla bla bla bla ...</p>
                            </a>
                            
                         </div> 
                         <hr style="margin:0;"/>
                          <div class="w3-container" style="padding-left:7px;">
                            <a href="#" style="text-decoration: none;">
                                <img src="/img/user.png" class="img-rounded" style="margin-top:5px;" alt="User" width="35" height="35"/>
                                <h3 style="font-size:14px;margin-top:-23px;margin-left:40px;"><b>Hicham Benmehdi</b></h3>
                                <h3 style="font-size:12px;margin-top:-8px;margin-left:40px;color:rgb(54,54,54);">Projet: Library Blog</h3>
                                <h3 style="font-size:12px;margin-top:-8px;margin-left:40px;color:rgb(54,54,54);">Sujet: MAJ</h3>
                                <p>Bla bla bla bla bla ...</p>
                            </a>
                            
                         </div>
                          <hr style="margin:0;"/>
                          <a href="#" style="padding-left:60px;">Show all</a>
                      </div>
                    </div>
                </div>
                <div style="background-color:rgb(228,228,228);margin-top:58px;height:100%;">
                    <div class="col-sm-10" >
                        <div class="row" style="margin-left:40px;margin-right:40px;margin-top:40px;">
                            <p class="col-md-6 text-left" style="color:grey;font-size:14px;">Projects </p>
                            <div class="col-md-6  text-right">
                            	<a href="#" style="text-decoration: none;">
                                	<span style="font-size:14px;color:rgb(164,0,102);" class="glyphicon glyphicon-plus" aria-hidden="true"></span><span style="font-size:14px;color:rgb(81,81,81);">New Project</span>
                            	</a>
                            </div>
                            
                        </div>
                        
                        <div style="background-color:white;margin-left:40px;margin-right:40px;border-radius:10px;" >
                            <div   class="row" style="padding:15px 25px 15px 25px;">
                            	<div class="col-md-6 text-left" >
                                	<a href="/project?name=proj1"  style="color:rgb(153,0,51);font-size:22px;text-decoration: none;"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span><span style="margin-left:10px;font-weight: bold;" th:text="proj1"></span></a>
                                </div>
                                <a href="/project?name=proj1">Visualize Graphical Graph</a>
                                <a href="/project/details?name=proj1">     | Details</a>
                                <div class="col-md-6 text-right" >
	                                    <span style="font-size:14px;color:rgb(164,0,102);">Code : </span>
	                                    <span th:text="1" style="font-size:14px;color:rgb(54,54,54);"></span>
	                        </div>
                            </div>
                            <hr/>
                            
                            <div   class="row" style="padding:15px 25px 15px 25px;">
                            	<div class="col-md-6 text-left" >
                                	<a href="/greeting?name=proj2"  style="color:rgb(153,0,51);font-size:22px;text-decoration: none;"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span><span style="margin-left:10px;font-weight: bold;" th:text="proj2"></span></a>
                                </div>
                                <a href="/project?name=proj2">Visualize Graphical Graph</a>
                                <a href="/project/details?name=proj2">     | Details</a>
                                <div class="col-md-6 text-right" >
	                                    <span style="font-size:14px;color:rgb(164,0,102);">Code : </span>
	                                    <span th:text="2" style="font-size:14px;color:rgb(54,54,54);"></span>
	                        </div>
                            </div>
                            <hr/>
                            
                            <div   class="row" style="padding:15px 25px 15px 25px;">
                            	<div class="col-md-6 text-left" >
                                	<a href="/project?name=proj3"  style="color:rgb(153,0,51);font-size:22px;text-decoration: none;"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span><span style="margin-left:10px;font-weight: bold;" th:text="proj3"></span></a>
                                </div>
                                <a href="/project?name=proj3">Visualize Graphical Graph</a>
                                <a href="/project/details?name=proj3">     | Details</a>
                                <div class="col-md-6 text-right" >
	                                    <span style="font-size:14px;color:rgb(164,0,102);">Code : </span>
	                                    <span th:text="3" style="font-size:14px;color:rgb(54,54,54);"></span>
	                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // Toggle between showing and hiding the sidebar when clicking the menu icon
            var mySidebar = document.getElementById("mySidebar");

            function w3_open() {
                if (mySidebar.style.display === 'block') {
                    mySidebar.style.display = 'none';
                } else {
                    mySidebar.style.display = 'block';
                }
            }

            // Close the sidebar with the close button
            function w3_close() {
                mySidebar.style.display = "none";
            }

            //Dropdown
            function myFunction(id) {
                var x = document.getElementById(id);
                if (x.className.indexOf("w3-show") == -1)
                    x.className += " w3-show w3-block";
                else
                    x.className = x.className.replace(" w3-show w3-block", "");
            }
            
        </script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/js/materialize.min.js"></script>
        <!--
        To use this code on your website, get a free API key from Google.
        Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
        -->

    </body>
</html>
